/* Í≥µÌÜµ + B + C */
header {
    /* width: 50%; */
    margin: 0 auto;
    text-align: center;
    /* background-color: skyblue; */
}

.convertBlock {
    background-color: gray;
    margin: 0 auto;
    /* width: 50%; */
    /* text-align: center; */
    color: white;
    height: 100%;
}

.label {
    display: inline-block;
    text-align: center;
}

#phpLabel {
    /* background-color: aqua; */
    width: 50%;
}

#jspLabel {
    /* background-color: blueviolet; */
    width: 50%;
}

textarea::placeholder {
    text-align: center;
    font-size: 2em;
}

.phpBox {
    width: 40%;
    min-height: 500px;
    display: inline-block;
    /* font-size: 2em; */
}

.jspBox {
    width: 40%;
    min-height: 500px;
    margin-left: 40px;
    display: inline-block;
    /* font-size: 2em; */
}

.hi {
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 30px;
    margin-top: 40px;
}


/* A ?èÖÎ¶? css */
.centerContent {
    /* margin-left: -3px; */
    width: 100%;
    /* padding: 10px; */
    height: 100%;
    /* background-color: black; */
}

table {
    /* width: 100%; */
    height: 100%;
    /* background-color: lightblue; */
}

.leftContent {
    height: 100%;
}

.rightContent {
    height: 100%;
}

#phpPre {
    margin: 0;
    overflow: auto;
    min-height: 100px;
    /* height: 600px; */
    /* width: 554px; */
    height: 100%;
    border: 1px solid #F74E4E;
}

#phpCode {
    height: 100%;
    width: 46%;
    border: 1px solid #6dff80;
    display: block;
}

#phpTxt {
    height: 100%;
    /* width: 554px; */
    width: 100%;
    border: 1px solid blueviolet;
    white-space: pre;
}

#convertBtn {
    width: 100%;
}

#copyBtn {
    width: 100%;
}

#jspPre {
    margin: 0;
    overflow: auto;
    min-height: 100px;
    height: 100%;
    /* width: 554px; */
    border: 1px solid #F74E4E;
}

#jspCode {
    height: 100%;
    min-height: 100px;
    /* width: 554px; */
    border: 1px solid #6dff80;
    display: block;
}

#jspTxt {
    height: 100%;
    /* width: 554px;  */
    width: 100%;
    border: 1px solid blueviolet; 
    white-space: pre;
}

.boxTd {
    width: 46%;
    padding: 20px;
    padding-bottom: 40px;
}

.btnTd {
    width: 8%;
    padding: 20px;
}

.hidden {
    display: none;
}
